
/*

fix site-spec
fix over-ons

*/



@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Special+Gothic+Expanded+One&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: 800;
}

body {
    color: #161925;
    background-color: #f9f4ef;
    overflow-x: hidden;
    max-width: 100%;
}

/* header */

header {
    margin-inline: 15%;
}

/* navbar */
.navbar {
    list-style: none;
    display: grid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    grid-gap: 1.25rem;
}

.navbar a {
    display: grid;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    font-weight: 100;
    justify-content: center;
    justify-items: center;
}

.navbar > li:not(.logo) {
    background-color: #b83330;
    padding: 1rem;
    border-radius: 35px;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.navbar > li:not(.logo):hover {
    background-color: #020826;
    border: 1px #B83A14;
}

p {
    font-family: "Halant", sans-serif;
    font-weight: 500;
    padding-bottom: 1em;
}

article {
    padding-block: 1em;
}

p a {
    color: #020826;
}

h1 {
    padding-block: 1em;
}

/* Aanbod en kosten */

h2 {

}

#Aanbod {
    padding: 1em;
}

/* Index */

#remco {
    float: right;
    margin: 30px;
    max-width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
}

/* Contact */

#foto-contact {
    max-width: min(100%, 600px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-height: 200px;
    padding-right: 2rem;
    padding-bottom: 2rem;
    float: left;
}

#map-partners {
    display: flex;
    max-width: min(100%, 800px);
    max-height: min(400px, 100%);
    aspect-ratio: 1 / 1;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
}

/* site spec */

#koers-service {
    width: 40%;
    min-width: min(100%, 400px);
    max-width: 100%;
    object-fit: cover;
    float: right;
    padding-left: 2rem;
    padding-block: 1em;
}

.inhoud {
    clear: both;
    margin-top: 5%;
    margin-bottom: 5%;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row;
    gap: 10px;
    column-gap: 20px;
    clear: right;
    border-width: 3px;
    padding: 1em;
}

.box article {
    flex: 1;
    background-color: #ede3df;
    text-align: center;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 5px 2px 0 #938d88;
}

.box article h4 {
    text-align: center;
    font-size: medium;
    padding-block: .75em;
}

.box article p {
    text-align: left;
    font-size: 15px;
}

.box article ul {
    text-align: left;
    font-size: 15px;
    list-style: none;
}

h4 {
    padding-block: 1em;
}


/* footer */

.footer {
    display: flex;
    text-align: right;
    justify-content: space-between;
    background-color: #8c7546;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

footer a, footer p {
    color: white;
    font-size: 1rem;
    font-family: 'Special Gothic Expanded One', sans-serif;
    text-decoration: none;
    font-weight: 100;
}

@media (min-width: 800px) {
    main {
        margin-inline: 15%;
    }

    .navbar {
        display: grid;
        grid-auto-flow: column;
    }

    .navbar a {
        font-size: 1rem;
        text-wrap: nowrap;
    }
}

@media (min-width: 700px) and (max-width: 899px) {

    main {
        margin-inline: 10%;
    }

    .navbar {
        display: grid;
        flex-wrap: nowrap;
        list-style: none;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navbar a {
        font-size: 10px;
        text-wrap: nowrap;
    }

    .box {
        display: flex;
        flex-flow: column;
        width: 100%
    }
    .box article {
        width: 60%;
        flex: 1;
        align-self: center;
    }
    #koers-service {
        width: 100%;
    }
}

@media (max-width: 699px) {

    main {
        margin-inline: 5%;
    }

    .navbar {
        display: grid;
        grid-auto-flow: row;
    }

    .box {
        display: flex;
        flex-flow: column;
        width: 95%;
    }

    #koers-service {
        width: 100%;
    }


}


