@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Halant', serif;
    font-weight: 500;
}

body {
    color: #161925;
    background-color: #f9f4ef;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6, .navbar a {
    font-family: "Special Gothic Expanded One", sans-serif;
}

/* header */

header {
  margin-inline: 5%;
}

/* navbar */
header img {
    max-width: 275px;
    height: 150px;
}

.navbar {
    list-style: none;
    display: grid;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-gap: 1.5rem;
    justify-content: center;
}

.navbar > li:not(.logo) {
    background-color: #b83330;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1rem;
}

.navbar > li:not(.logo):hover {
    background-color: #020826;
}

#current {
    background-color: #020826;
    box-shadow:2px 2px 5px #bbb;
}

/* Teksten */

p, p a {
    margin-bottom: 1em;
    color: #020826;
    font-size: 1.2rem;
}

h1 {
    margin-block: 1em;
}

article {
    padding-block: 1em;
}


/* Aanbod en kosten */

#Aanbod {
    padding: 1em;
}

.koers-service {
    width: min(100%, 400px);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    float: right;
    margin-left: 2rem;
    margin-block: 1rem;
    height: auto;
}

/* Over ons*/

.over-ons-foto {
    width: min(100%, 400px);
    float: right;
    margin-left: 2rem;
}

/* Index */

.index-foto {
    max-width: min(100%, 500px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    float: right;
    margin-left: 2rem;
}

ol {
    margin-inline: 1rem;
}
.li-index {
    font-size: 1.2rem;
}

/* Contact */

#foto-contact {
    max-width: min(100%, 500px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-height: 200px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    float: right;
}

#map-partners {
    float: left;
    width: 100%;
}


/* site spec */

.site-spec {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    float: right;
    width: min(500px, 100%);
    margin-left: 2rem;
}

.inhoud {
    clear: both;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* BOX */

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row;
    column-gap: 1rem;
    row-gap: 2rem;
    clear: right;
    border-width: 3px;
    margin-block: 1em;
}

.box article {
    flex: 1;
    background-color: #ede3df;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #bbb;
}

.box article h5 {
    text-align: center;
    font-size: 1rem;
    padding-block: .75em;
}

.box article p {
    text-align: left;
    font-size: 1rem;
}

.box article ul {
    text-align: left;
    list-style: disc;
    padding-inline: 1rem;
}

.box article li {
    font-size: 1rem;
    font-weight: 650;
    font-family: 'Halant', serif;
}


/* footer */


.footer {
    display: flex;
    text-align: right;
    justify-content: space-between;
    background-color: #8c7546;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

footer a, footer p {
    color: white;
    font-size: 1rem;
    font-family: 'Special Gothic Expanded One', sans-serif;
    text-decoration: none;
}

.footer-link {
    text-align: left;
}

/*  RWD */

@media (min-width: 1000px) {
    main {
        margin-inline: auto;
        max-width: 50em;
        width: auto;
        padding-inline: 1rem;
    }

    .navbar {
        display: grid;
        grid-auto-flow: column;
    }

    .navbar a {
        font-size: 1rem;
        text-wrap: nowrap;
    }
}

@media (min-width: 700px) and (max-width: 999px) {



    main {
        margin-inline: 5%;
        margin-bottom: 2rem;
    }

    header {
        width: 90%;
    }

    .logo img {
        width: 230px;
        height: auto;
    }

    .navbar {
        display: grid;
        list-style: none;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .navbar a {
        font-size: 10px;
        text-wrap: nowrap;
    }

    .box {
        display: flex;
        flex-flow: column;
        width: 100%
    }

    .box article {
        width: 60%;
        flex: 1;
        align-self: center;
    }

    p, h1, h2, h3, h4, h5, h6 {
        clear: both;
    }
    main img {
        min-width: min(999px, 100%);
        height: auto;
        margin-block: 1rem;

    }
}

@media (max-width: 699px) {

    header {
        margin-inline: 5%;
    }

    main {
        margin-inline: 5%;
        margin-bottom: 2rem;
        clear: both;
    }

    .navbar {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    .navbar li {
        justify-content: center;
        width: 100%;

    }

    .box {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    p, h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    main img {
        min-width: min(699px, 100%);
        height: auto;
        margin-block: 1rem;
    }
}



